src/Network/Analyzer/PacketDefinitions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.munique.net/OpenMU/PacketDefinitions" elementFormDefault="qualified" targetNamespace="http://www.munique.net/OpenMU/PacketDefinitions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PacketDefinitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Packets" nillable="true" type="tns:ArrayOfPacketDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfPacketDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Packet" type="tns:PacketDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PacketDefinition">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="tns:PacketType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SubCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Fields" nillable="true" type="tns:ArrayOfField" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PacketType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="C1" />
      <xs:enumeration value="C2" />
      <xs:enumeration value="C3" />
      <xs:enumeration value="C4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" type="tns:Field" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Index" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="tns:FieldType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Length" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FieldType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Byte" />
      <xs:enumeration value="Short" />
      <xs:enumeration value="ShortBigEndian" />
      <xs:enumeration value="Integer" />
      <xs:enumeration value="IntegerBigEndian" />
      <xs:enumeration value="Long" />
      <xs:enumeration value="LongBigEndian" />
      <xs:enumeration value="String" />
      <xs:enumeration value="Binary" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>